#{extends 'main.html' /}
#{set title:'Task List' /}

<h1>Add Task</h1>
#{form @Application.add_task()}

    #{ifErrors}
        <p class="error">
            All fields are required!
        </p>
    #{/ifErrors}
    
    <label for="val1">Value #1: </label>
    <input id="val1" name="val1" value="2"/>
    
    <label for="val2">Value #2: </label>
    <input id="val2" name="val2" value="2" />
    
    <input type="submit" value="Run" />

#{/form}

<h1>${title}</h1>
#{if tasks}
<ul>
    #{list items:tasks, as:'task'}
    <li>
        ${task.val1} + ${task.val2} = #{if task.result} ${task.result.value} #{/if} #{else} ??? #{/else}
    </li>    
    #{/list}
</ul>    
#{/if}

<h2>Producer</h2>
<p id="producerSuccess">
    <span>Successful: <strong>${producerSuccess}</strong> (average execution time: <strong>${producerSuccessAverageTime} milisecond(s)</strong>)</span>
</p>

<p id="producerFailed">
    <span>Failures: <strong>${producerFailed}</strong> (average execution time: <strong>${producerFailedAverageTime} milisecond(s)</strong>)</span>
</p>        

<h2>Consumer</h2>
<p id="consumerSuccess">
    <span>Successful: <strong>${consumerSuccess}</strong> (average execution time: <strong>${consumerSuccessAverageTime} milisecond(s)</strong>)</span>
</p>

<p id="consumerFailed">
    <span>Failures: <strong>${consumerFailed}</strong> (average execution time: <strong>${consumerFailedAverageTime} milisecond(s)</strong>)</span>
</p> 

